*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: rgb(1,15,17);
    background: linear-gradient(90deg, rgba(1,15,17,1) 0%, rgba(10,48,47,1) 50%, rgba(25,75,75,1) 100%);
    color: rgb(255, 255, 255);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}

.header-nav{
    display: flex;
    gap: 1rem;
    font-size: 1.275rem;
}

.header-nav-links{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header-nav-links-span{
    position: relative;
}

.header-nav-links-span:hover::after{
    width: 100%;
}

.header-nav-links-span::after{
    content: '';
    width: 0%;
    height: 1px;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: width 0.5s
}

.section-introducao{
    border-top: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
}

.section-introducao-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-introducao-container-title{
    font-size: 2rem;
}

.section-introducao-container-text{
    line-height: 1.725rem;
}
